body {
    max-width: 750px;
    margin: auto;
    padding: 0px 30px 0px 30px;
    font-family: 'SourceSansProRegular';
    font-weight: normal;
    font-style: normal;
}

header .title {
    text-align: left;
}

#content ul {
    padding: 0;
    /* list-style: none; */
}

/* index page list style */
body > div#content > ul:nth-child(2) li:nth-child(odd) {
    background-color: #f4f4f4;
}

body > div#content > ul li {
    list-style: none;
    font-family: 'SourceCodeProRegular';

}

body > div#content > ul > li > a {
    margin-left: 3%;
    font-family: 'SourceSansProRegular';
}

code {
    font-family: 'SourceCodeProRegular';
}

.nav ul {
    display: flex;
    padding: 0;
    list-style: none;
}

.nav ul li {
    padding-right: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: #666;
}

.nav ul li a:hover {
    text-decoration: none;
    color: #666;
}

pre {
    border: 0;
    box-shadow: inherit;
    margin: auto;
    overflow: auto;
}

pre.src {
    background-color: #f8f8f8;
    font-size: 14px;
    overflow-x: auto;
}

pre.src::before {
    border: 0;
    content: '';
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

p code {
    font-size: 16px;
    background-color: #f4f4f4;
    overflow: auto;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  figure img {
      max-width: 300px;
  }
}
